body {
    font-family: 'Roboto';
    margin: 0px;
}

ul {
    display: flex;
    list-style: none;
    /* margin-right: 50px; */
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
}

.title {
    font-size: 48px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}
.header {
    display: flex;
    /* margin-left: 50px; */
    align-items: center;
    justify-content: space-around;
}

.upper a {
    text-decoration: none;
    color: white;
}

.upper{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #f9faf8;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left{
    display: flex;
    flex-direction: column;
    /* margin-left: 80px; */
    padding-left: 5px;
    align-items:flex-start;
    width: 450px;
    height: 300px;
}
.placeholder {
    margin-right: 80px;
    padding-right: 5px;
}
