body {
    font-family: 'Roboto', system-ui;
    margin: 0px;
}

ul {
    display: flex;
    list-style: none;
    /* margin-right: 50px; */
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.signup { 
    display: flex;
    font-family: 'Roboto';
    height: 35px;
    width: 115px;
    background-color: #3882F6;
    color: #e5e7eb;
    font-size: 15px;
    font-weight: 900;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.icon {
  border-radius: 25px;
  border: 4px solid #3882F6;
}

.icon-container {
    display: flex;
    flex-direction: column;
}

.icon {
    padding: 15px;
}

.icon, .subtext2 {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.logo {
    font-size: 30px;
}

.title {
    font-size: 48px;
    margin: 0;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}
.header {
    display: flex;
    /* margin-left: 50px; */
    align-items: center;
    justify-content: space-around;
    gap:200px;
}

.upper a {
    text-decoration: none;
    color: white;
}

.upper{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #f9faf8;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left{
    display: flex;
    flex-direction: column;
    margin-left: 190px;
    padding-left: 5px;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 450px;
    height: 400px;
}
.placeholder {
    display: flex;
    margin-right: 175px;
    padding-right: 15px;
    width: 450px;
    height: auto;

    justify-content: center;
    align-items: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    height: 350px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #1F2937;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 850px;
    
}

.quoter {
    text-align: end;
    padding-right:100px;
    width: 850px;
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
}

.call {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    height: 150px;
    width: 850px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.callhead { 
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
}

.subtext3 {
    font-size: 15px;
    color: #f9faf8;
    margin: 0;
}

.poster a {
    color: #f9faf8;
    border-radius: 10px;
    height: 35px;
    width: 115px;
    border: 2px solid #f9faf8;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    height: 100px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

